<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}

        {% block stylesheet %}{% endblock %}

        <title>{% block title %}Minimalist Blog for Coders with Maximum Functionality{% endblock %}</title>

    {% endblock %}
</head>
    <body class={% block bodyClass %}"bg-white font-family-karla"{% endblock %}>

{% block navBar %}
        {% block connectBtn %}
                {# empty block that I might use for login or admin links #}
        {% endblock %}
{% endblock %}

{% block header %}{% endblock %}

{% block sectionNav %}{% endblock %}

{% block content %}
        {% block main %}
            {% block sideBar %}
            {% endblock %}
        {% endblock %}


    {% block footer %}{% endblock %}


{% endblock %}



{% block carouselData %}{% endblock %}
{% block javascript %}{% endblock %}

    </body>
</html>

