<!DOCTYPE html>

<html lang={% block language %}"en"{% endblock %}><head>
        <meta charset="utf-8">


        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="theme-name" content="reader" />

        {% block stylesheets %}{% endblock %}

        <!--Favicon-->
        <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
{% block metadata %}
        <meta property="og:title" content="Reader | Hugo Personal Blog Template" />
        <meta property="og:description" content="This is meta description" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:updated_time" content="2020-03-15T15:40:24+06:00" />
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}{% endblock %}

{% block banner %}{% endblock %}

{% block content %}{% endblock %}
{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}

<!-- Main Script -->
<script src="{{ asset('js/script.js') }}"></script></body>
</html>
