<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">

{% block head %}
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        {% block meta %}{% endblock %}
        {% block favicon %}    <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/img/favicon.png">
        {% endblock %}
        <title>{% block title %}Classix{% endblock %}</title>
        {% block stylesheet %}

        {% endblock %}
</head>
    {% endblock %}
<body class={% block bodyClass %}{% endblock %}>{% block body %}

{% block navBar %}
    {% block connectBtn %} {% endblock %}
{% endblock %}

{% block content %}
    {% block hero %}
        {% block heroText %}{% endblock %}
        {% block heroImg  %}{% endblock %}
    {% endblock %}

    {% block sectionOne %}{% endblock %} {# Change these names as needed #}
    {% block sectionTwo %}{% endblock %}
    {% block sectionThree %}{% endblock %}


{% endblock %}

{% block footer %}
    {% block copyright %}{% endblock %}
{% endblock %}

{% block javascript %}{% endblock %}

</body> {% endblock %}
</html>