<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    {% block fonts %}{% endblock %}

    {% block stylesheets %}{% endblock %}
    <!-- =======================================================
    * Template Name: Bocor
    * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <title>{% block title %}Bocor | {% endblock %}</title>
</head>

<body class="index-page">
{% block header %}{% endblock %}
{% block main %}
<main class="main">
{% block hero %}{% endblock %}

    {% block clients %}{% endblock %}

    {% block about %}{% endblock %}
    {% block featService %}{% endblock %}

    {% block featSection %}{% endblock %}
    {% block servSection %}{% endblock %}

    {% block portfolio %}{% endblock %}

    {% block team %}{% endblock %}
    {% block pricing %}{% endblock %}
    {% block faq %}{% endblock %}
    {% block contact %}{% endblock %}
</main>
{% endblock %}
{% block footer %}{% endblock %}

{% block scroller %}{% endblock %}
{% block scripts %}{% endblock %}
</body>

</html>